body /*styles for my resume*/
    {color: #444;
    font-family:'Open Sans', Arial, sans-serif;
    font-size:1em;
    font-weight:400;}

#container /*this is starting to look professional-ish*/
            {width: 100%;
            max-width: 1000px;
            margin: 0 auto;}

.description {margin-top:10px;
              margin-bottom:10px;
              margin-right:0px;
              margin-left: 0px;}

#name /*name at the top*/
    {font-size:3em;
    color:#33485e;
/*what color scheme would look good here*/
    border-bottom: 1px solid#33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;}

.menu {margin:0 auto;
  padding: 0px;
  display: inline;
  list-style-type: none;}

.sectionheader {color:white;
    font-size:1.5em;
    font-weight:400;
    background-color:#33485e;
    text-transform:uppercase;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 70%;
    min-width: 300px;}

    /*lots of :; madness in here*/
 /*current job title*/
    #title {color:#33485e;
    font-size:1.5em;
    font-weight: 600;
    margin: 0 auto;
    margin-top:20px;}

/*job title*/
    .jobtitle {font-size:1.5em;
    font-weight:600;}

/*former employer*/
    .organization {font-size:1.25em;}

 /*employment dates*/
    .date {font-size:1em;
    font-weight:400;
    font-style:italic;
    margin-top: 2px;}

#degrees
{margin-top: 5px;
}

#do {
  margin-top:5px;
}

li /*list items for contacts, education and skills*/
    {font-size:1em;}

.top {margin:0 auto;
      width: 60%;
      min-width: 300px;
      margin-bottom: 30px;}
